html, body {
    height: 100%;
    width: 100%;
    background-color: #282c37;
}
.invisible {
    display: none;
}

.toot:first-child {
    margin-top: .5rem;
    border-radius: 2px 2px 0 0;
}
.toot {
    padding: 14px;
    margin: 0;
    border-radius: 0;
}
.toot:last-child {
    margin-bottom: 1rem;
    border-radius: 0 0 2px 2px;
}

.right {
    text-align: right;
}

.progress {
    width: 100%;
    margin-top: 0;
    margin-bottom: 1rem;
    top: 0;
    position: fixed;
}